.calendar-header{
  font-size: 24px;
  text-align: center;
  margin-bottom: 25px;
}

.col{
    height: 70px;
}

.cal-day{
    height: 110px;
}

.cal-empty{
    height: 110px;
}

.cal-day:hover{
    background-color: #2391;
}

.cal_title{
    height: 30px;
}

.navigate-button {
  height: 100%;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.navigate-button:hover{
    background-color: #2391;
}
